body.background {
background-color: #FFFFFF;
}

div.poetic {
    text-decoration: none;
}

div.poetic :hover {
    text-decoration: none;
    color: #FF99CC;
    }


#poetic, #poetic1, #poetic2, #poetic3  {
    text-decoration: none;
    color: #FF9900;
}


#poeticprofile {
    text-decoration: none;
    color: #FF9900;
}

#poeticprofile : hover {
    text-decoration: none;
    color: #FF99CC;

}