body.background {
background-color: #FFFFFF;
}

div.poetic {
    text-decoration: none;
}

div.poetic :hover {
    text-decoration: none;
    color: #ff7700;
    }


#poetic, #poetic1, #poetic2, #poetic3  {
    text-decoration: none;
    color: #FF9900;
}
#poetic:hover, #poetic1:hover, #poetic2:hover, #poetic3:hover, {
    text-decoration: none;
    color: #FF7700;

}

#poeticprofile {
    text-decoration: none;
    color: #FF9900;
}



#poeticlink a {
    text-decoration: none;
    color: #FF9900;
}

h4.poetic {
    text-decoration: none;
    color: #FF9900;
}


#plain_white {
  text-decoration: none;
    color: white;
}

#poetry_white2 {
  text-decoration: none;
    color: white;
}

#poetry_white3 {
  text-decoration: none;
    color: white;
}

#poetry_button {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #FF9900;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  max-width:160px;
}

#poetry_button2 {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #FF9900;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  max-width:160px;
}


#poetry_button3 {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #FF9900;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  max-width:160px;
}


#poetry_button:hover {
  background: #ff7700;
  text-decoration: none;
}

#poetry_button2:hover {
  background: #ff7700;
  text-decoration: none;
}

#poetry_button3:hover {
  background: #ff7700;
  text-decoration: none;
}




.edit_button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #ffffff;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}

.edit_button:hover {
  background: #ff9900;
  text-decoration: none;
}

