body.background {
background-color: #FFFFFF;
}

div.poetic {
    text-decoration: none;
}

div.poetic :hover {
    text-decoration: none;
    color: #FF9900;
    }


#poetic, #poetic1, #poetic2, #poetic3  {
    text-decoration: none;
    color: #FF9900;
}


#poeticprofile {
    text-decoration: none;
    color: #FF9900;
}



#poeticlink {
    text-decoration: none;
    color: #FF9900;
}

h4.poetic {
    text-decoration: none;
    color: #FF9900;
}
