{% extends 'poetic/base.html' %}

{% block title %}{% endblock %}


{% block body_block %}
        <div>
              {% if user.is_authenticated %}
              {% else %}
                   <div class="alert alert-danger"> You must be logged in to compose poems </div>
              {% endif %}
                    <div class="form-group pull-left">

                            <form id="form-control" method="post" action="/poetic/">

                            {{ form.as_p }}

                    {% if user.is_authenticated %}
                            {% csrf_token %}
                            <input type="submit" name="submit" value="Create Poem" />
                    {% else %}


                    {% endif %}


                        </form>
              </div>

        </div>

{% endblock %}