{% extends 'poetic/base.html' %}

{% block title %}{% endblock %}


{% block body_block %}
        <div class="container-fluid">
              {% if user.is_authenticated %}
              {% else %}
                   <div class="alert alert-danger"> You must be logged in to compose poems </div>
              {% endif %}
                    <div class="form-group pull-left">

                            <form id="form-control" method="post" action="/poetic/">


                                {{ form.title.label }} <br>
                                {{ form.title }}<br>

                                {{ form.num_lines.help_text }} <br>
                                {{ form.num_lines }}<br>

                                {{ form.min_lines.help_text }} <br>
                                {{ form.min_lines }}<br>

                                {{ form.max_lines.help_text }} <br>
                                {{ form.max_lines }}<br>

                                {{ form.poem_source.help_text }} <br>
                                {{ form.poem_source }}<br>

                    {% if user.is_authenticated %}
                            {% csrf_token %}
                            <input type="submit" name="submit" value="Create Poem" />
                    {% else %}


                    {% endif %}


                        </form>
              </div>

        </div>

{% endblock %}