{% extends 'poetic/base.html' %}
{% load static %}
{% block head %}                {% endblock %}
{% block title %}               {% endblock %}


{% block body_block %}
<div class="container-fluid" id="poem_area">
<h3>{{ poem.title }}</h3>
<h5> by {{ poem.author }} </h5>



{% for line in poem.poem_getter %}
       <span id="line{{ forloop.counter }}">{{ line }}</span><br>



<script>


var linesubmit{{ forloop.counter }} = function(){
var swapline;

swapline = $("#edit_line_text_field").val();
// use ajax to call view function. Process 'data' in the call back function
$.get('/poetic/{{ poem.author }}/{{ poem.title_slug }}/line_submit/', {swapline : swaptext}, function(data){
$('#line{{forloop.counter }}').html(data);
});
};

</script>


{% endfor %}

{% if user.pk == poem.author.user.pk %}


<script>
    var save_changes = function(){
    var author;
    var title;
    var content = "";
    number = new Array();

    author = '{{ poem.author }}';
    title = '{{ poem.title_slug }}';
    poem = {{ poem.pk }};
    poem_lines = {{ poem.num_lines }};
    {% for line in poem.poem_getter %}

    content += $("#newtext{{ forloop.counter }}").val();
    content += "^^"

    console.log(content)
    {% endfor %}

    $.get('/poetic/' + author + '/' + title + '/save_edits/', { 'content' : content }, function(data){
    window.location.pathname='{% url 'retrieve_poem' username=poem.author title_slug=poem.title_slug %}';
    }
    );

     }



</script>


</div>


<div class="container-fluid">

<div>
  <button class="btn btn-warning" onclick="edit_view();"><img src="{% static 'img/pen43white.png' %}" /> edit poem</button>
    <button style="visibility:hidden;" onclick="save_changes();" id="save_edit_button" class="btn btn-warning">commit changes</button>
    <button style="visibility:hidden;" onclick='cancel_edit_changes();' id="cancel_edit_button" class="btn btn-warning">cancel changes</button>
</div>
    <br>
    <script>
    function cancel_edit_changes(){
        window.location.pathname='{% url 'retrieve_poem' username=poem.author title_slug=poem.title_slug %}';
        }
</script>

<!-- turns on and off buttons for editing lines, saving/cancelling changes -->
    <script>
    function edit_view() {

    if (document.getElementById('save_edit_button').style.visibility == "visible"){
        document.getElementById('save_edit_button').style.visibility="hidden";
        document.getElementById('cancel_edit_button').style.visibility="hidden";
}
    else {
        document.getElementById('save_edit_button').style.visibility="visible";
        document.getElementById('cancel_edit_button').style.visibility="visible";
    }
    {% for line in poem.poem_getter %}
    var origline;
        origline = $("#line{{ forloop.counter }}").html();
        $.get('/poetic/{{ poem.author }}/{{ poem.title_slug }}/edit/', { 'swapline' : origline, 'line_id': {{ forloop.counter}} }, function(data){
        $('#line{{ forloop.counter }}').html(data);
        });
    {% endfor %}
    }

    </script>

    <!--script>
        function save_changes(){
    var poem_dict = [];
    var newline;
    {% for line in poem.poem_getter %}
        newline = $("#line{{ forloop.counter }}").html();
        poem_dict[{{ forloop.counter }}] = newline;
    {% endfor %}
        $.get('/poetic/{{ poem.author }}/{{ poem.title_slug }}/save_edits/', { poem : poem_dict } )
        }


    </script-->


<div>
      <button class ="btn btn-warning" onclick="delete_poem()"> <img src="{% static 'img/recycling.png' %}" /> delete poem</button>
</div>
<br>
    <script>
        function delete_poem(){
        window.location.pathname='{% url 'delete_poem' username=poem.author title_slug=poem.title_slug %}'

        }

    </script>


<div>
  <button class="btn btn-warning" onclick="create_new_poem()"> <img src="{% static 'img/reload.png' %}" /> create another</button>

</div>
    <script>
        function create_new_poem(){
        window.location.pathname='{% url 'index' %}'

        }
    </script>

    {% elif user.is_authenticated and user.pk != poem.author.user.pk %}

      <div class="alert alert-danger"> You can only edit poems you have generated</div>

<div>
  <button class="btn btn-warning" onclick="create_new_poem()"> create your own poem</button>

</div>
    <script>
        function create_new_poem(){
        window.location.pathname='{% url 'index' %}'

        }
    </script>
{% else %}
<div>


<div class="alert alert-danger"> <a href="/register/">Register</a> to create and edit your own poems</div>

<div>

</div>
</div>
{% endif %}
</div>
{% endblock %}