{% extends 'poetic/base.html' %}
{% load static %}
{% block title %}{% endblock %}


{% block body_block %}
<div class="container-fluid">
<h3>{{ poem.title }}</h3>
<h5> by {{ poem.author }} </h5>



{% for line in poem.poem_getter %}
        {{ line }}<br>


{% endfor %}
    <br>

</div>

<div class="container-fluid">

    <div id="poetry_button">
      <a id="plain_white" href="/poetic/{{ poem.author }}/{{ poem.title }}/delete/"><img src="{% static 'img/recycling.png' %}" /> delete poem</a>
</div>
<br>

<div id="poetry_button2">
  <a id="poetry_white2" href="/poetic/"><img src="{% static 'img/reload.png' %}" /> create another</a>

</div>
</div>

{% endblock %}